@import "../../styles/colors.css";

#page-header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* padding: 1rem; */
  background-color: var(--darkBlue);
  font-size: 1.25rem;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 60px;
}
#page-header > a {
  text-decoration: none;
  font-weight: 500;
}
.header-logo {
  height: 50px;
}

.fa-cart-shopping {
  height: 1.5rem;
  width: 1.5rem;
}
.header-cart-container {
  position: relative;
}
.products-in-cart {
  position: absolute;
  top: -6px;
  right: -7px;

  font-size: 0.7rem;
  font-weight: bold;
  background-color: var(--lightBlue);

  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  outline: 3px solid var(--darkBlue);
}
